@use "../media-queries.scss" as *;

/* base classes */

%flex-full {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  %absolute-full {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  %top-left-full {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  %trans {
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
  }
  
  %no-space{
    padding: 0;
    margin: 0;
  }
  
  %flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  %basic-container{
    border-radius: 2px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 20%); 
  }
  
  /* base classes */

  #about .photo {
    background-image: url("/images/5f8312169ee77-_1_.webp");
    background-size: cover;
    background-position: center;
    clip-path: circle(0% at 50% 50%);
    border-radius: 50%;
    border: 15px solid var(--clr-bright-color);
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 250px;
    aspect-ratio: 1;
    @include mq(small){
      width: 350px;
    }
  }


  .image__hero {
    .photo_large {
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      border: 15px solid var(--clr-bright-color);
      margin: 0 auto;
      height: 250px;
      width: 250px;
      @include mq(small) {
        height: 350px;
        width: 350px;
      }
      // @include mq(medium) {
      //   height: 350px;
      //   width: 3500px;
      // }
      @include mq(large) {
        margin-right: 0;
      }
      // @include mq(xl) {
      //   height: 450px;
      //   width: 450px;
      // }
      img {
        position: absolute;
        height: 100%;
        width: 100%;
        inset: 0px;
        object-fit: cover;
        color: transparent;
      }
    }
    .first {
      scale: 0.6;
      top: 0;
      right: -15%;
      z-index: -2;
      position: absolute;

      @include mq(small){
        right: -5%
      } 
    
      @include mq(medium) {
        scale: 0.6;
        top: 0;
        right: 0%;
        z-index: -2;
      }
      @include mq(large) {
        scale: 0.7;
        top: 100%;
        right: 0;
        z-index: -2;
        position: relative;
      }
      @include mq(xl) {
        scale: 0.7;
        top: 100%;
        right: 10%;
        z-index: -2;
      }
    }
    .second {
      scale: 0.6;
      top: 0;
      left: -15%;
      z-index: -1;
      position: absolute;
      @include mq(small){
        left: -5%;
      }
    
      @include mq(medium) {
        scale: 0.6;
        top: 0;
        left: 0;
        z-index: -1;
      }
      @include mq(large) {
        scale: 0.7;
        top: 100%;
        right: 10%;
        z-index: -1;
        position: relative;
      }
      @include mq(xl) {
        scale: 0.7;
        top: 100%;
        right: 0;
        z-index: -2;
      }
    }
    .third {
      scale: 0.8;
      @include mq(large) {
        right: 10%;
      }
    }
  }


