@use "../media-queries.scss" as *;
/* base classes */

%flex-full {
  display: flex;
  width: 100%;
  height: 100%;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%absolute-full {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%top-left-full {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%trans {
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

.lr__wrapper {
  @extend %flex-full;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
  @include mq(medium) {
    margin: auto;
  }
  @include mq(large){
    flex-direction: row;
  }
}
.lr__wrapper :is(.right-wrapper, .left-wrapper) {
  @extend %flex-full;
  position: relative;
  flex-wrap: wrap;
  flex: 1 1 50%;
}

.left-wrapper {
  z-index: 1;
  align-self: baseline;
}

.right-wrapper {
  @extend %flex-center;
  // min-height: calc(30vh + 10em);
  justify-content: flex-start;
  flex-wrap: wrap
}





.h__scroller__wrapper {
  width: 100%;
  height: auto;
  position: relative;
  margin: 2rem auto auto auto;
}

.p__bar {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 5px;
  background-color: var(--clr-primary-100);
  transform-origin: left center 0px;
  @include mq(medium) {
    display: none;
  }
}

#home h1{
  white-space: nowrap;
}

#home .left-wrapper{
  flex-direction: column;
}


